.signup-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-card {
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.signup-card-body {
    padding: 40px;
}
.signup-card-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
.bi-person-plus {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    color: #10a37f; /* You can adjust the color if needed */
}


.btn-custom-signup {
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 30px;
    background-color: #10a37f; /* You can adjust the color if needed */
    border: none;
    color: white;
    transition: all 0.3s ease;
}
.btn-custom-signup:hover {
    background-color: #0f8769; /* You can adjust the color if needed */
}
.btn-back {
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 30px;
    background-color: #dc3545; /* You can adjust the color if needed */
    border: none;
    color: white;
    transition: all 0.3s ease;
}
.btn-back:hover {
    background-color: #bb2d3b; /* You can adjust the color if needed */
}