{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Sign Up
{% endblock title %}

{% block content %}
    <div class="container signup-container">
        <div class="card signup-card shadow">
            <div class="card-body signup-card-body">
                <div class="text-center mb-4">
                    <img src="{% static 'img/grow2.png' %}" alt="Logo" class="img-fluid" style="max-width: 100px;">
                    <h2 class="card-title signup-card-title mt-3">Create an Account</h2>
                </div>

                <form method="post" class="mt-4">
                    {% csrf_token %}
                    {{ form | crispy }}

                    <button type="submit" class="btn btn-custom-signup btn-block mt-3">Sign Up</button>
                    <a href="{% url 'home' %}" class="btn btn-back btn-block mt-3">Back</a>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
