
{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Budget{% endblock title %}

{% block content %}
<div class="budget-container">
    <header class="bg-light shadow-sm p-4 ">
        <div class="container-fluid ">
            <h1 class="display-4 text-center">Manage Your Finances</h1>
        </div>
    </header>

    <main class="container-fluid py-4">
        <ul class="nav nav-tabs nav-justified mb-4" id="financialTabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link text-primary active" id="income-tab" data-toggle="tab" href="#income" role="tab" aria-controls="income" aria-selected="true" onclick="activateTab('income')">Income</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary" id="expenses-tab" data-toggle="tab" href="#expenses" role="tab" aria-controls="expenses" aria-selected="false" onclick="activateTab('expenses')">Expenses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary" id="investments-tab" data-toggle="tab" href="#investments" role="tab" aria-controls="investments" aria-selected="false" onclick="activateTab('investments')">Investments</a>
            </li>
        </ul>

        <div class="tab-content" id="financialTabsContent">
            {% include "budget/income_tab.html" %}
            {% include "budget/expenses_tab.html" %}
            {% include "budget/investments_tab.html" %}
        </div>

        <div class="row">
            <div class="col-md-4 p-4">
                <h4 class="h6">Total Income: {{ total_income }}</h4>
            </div>
            <div class="col-md-4 p-4">
                <h4 class="h6">Total Expenses: {{ total_expenses }}</h4>
                <h4 class="h6">Remaining Balance: {{ remaining_balance }}</h4>
            </div>
            <div class="col-md-4 p-4">
                <h4 class="h6">Total Investments: {{ total_investments }}</h4>
            </div>
        </div>
    </main>
</div>

{% include "budget/scripts.html" %}
{% endblock content %}
