@font-face {
    font-family: 'Lato';
    src: url('/static/fonts/Lato-Regular.ttf') format('truetype');
    /* Add more src declarations for different font weights/styles if needed */
}

body {
    font-family: 'Lato', sans-serif;
    /* Apply the Noto Sans font as the default font */
}

input:focus {
    border-color: #10a37f !important; /* Change to your preferred shade of green */
    box-shadow: 0 0 0 0.2rem rgba(0, 166, 126, 0.25) !important; /* Optional: Add a slight shadow effect */
}

/* This will change the color of Bootstrap buttons */
.btn-custom {
    color: #fff;
    background-color: #10a37f;
    border-color: #10a37f;
}

/* This will change the hover and active states of Bootstrap buttons */
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active {
    background-color: #0e9171; /* Darker shade for hover and active states */
    border-color: #0e9171;
    color: #fff;
}

.budget-container {
    background-color: #f2f2f2; /* Light gray color */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Add some padding for better spacing */
    margin: 20px auto; /* Center the container */
    /* You might need to adjust the width if needed */
    max-width: 1400px; /* Adjust the width based on your design */
}

.expense-form .form-control:focus {
    border-color: red !important;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}

/* Reset expense input border when not focused */
.expense-form .form-control:not(:focus) {
    border-color: #ced4da; /* Default Bootstrap input border color */
    box-shadow: none; /* Remove the shadow when not focused */
}