@media (min-width: 992px) {
    .custom-container {
        width: 500px;
        margin: 0 auto; /* To center the container */
    }
}
/* .budget-container {
    
    padding: 20px; 
    margin: 5px auto;
    max-width: 1400px; 
} */

.btn-custom {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

/* This will change the hover and active states of Bootstrap buttons */
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active {
    background-color: #218838; /* Darker shade for hover and active states */
    border-color: #28a745;
    color: #fff;
}

.expense-form .form-control:focus {
    border-color: red !important;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}

.expense-form .form-control:not(:focus) {
    border-color: #ced4da; /* Default Bootstrap input border color */
    box-shadow: none; /* Remove the shadow when not focused */
}

.investment-form .form-control:focus {
    border-color: #007bff !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6) !important;
}

.investment-form .form-control:not(:focus) {
    border-color: #ced4da; /* Default Bootstrap input border color */
    box-shadow: none; /* Remove the shadow when not focused */
}

/* Add a hover effect */
.delete-item:hover {
    cursor: pointer;
    background-color: lightcoral;
}
.budget-container h1,
.budget-container h2,
.budget-container h3,
.budget-container h4,
.budget-container h5 {
    font-weight: bold;
    color: #333;
}

.budget-container{
    padding: 20px;
}


.budget-head h1{
    color : #333333;
}
.inc-container,
.exp-container,
.invest-container{
    padding: 30px;
    border-radius: 10px;
}


.inc-container {
    background: linear-gradient(45deg, #bbe4ba, #ffffff); /* Adjusted green gradient */
}

.exp-container {
    background: linear-gradient(45deg, #e6a7ad, #ffffff); /* Adjusted red gradient */
}

.invest-container {
    background: linear-gradient(45deg, #a5c8ff, #ffffff); /* Adjusted blue gradient */
}