.btn-custom {
    color: #fff;
    background-color: #10a37f;
    border-color: #10a37f;
}

/* This will change the hover and active states of Bootstrap buttons */
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active {
    background-color: #0e9171; /* Darker shade for hover and active states */
    border-color: #0e9171;
    color: #fff;
}

.expense-form .form-control:focus {
    border-color: red !important;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}

.expense-form .form-control:not(:focus) {
    border-color: #ced4da; /* Default Bootstrap input border color */
    box-shadow: none; /* Remove the shadow when not focused */
}