{% extends '_base.html' %}
{% load static %}

{% block title %}
    Income Expense
{% endblock title %}

{% block content %}

<div class="container mt-4">
    <!-- income and expense total cards -->
    <div class="row">
    
        <!-- total income card -->
        <div class="col-md-6 mb-4">
            <div class="card custom-income-color text-white animated-card-content">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-hand-holding-dollar fa-3x me-3"></i>
                    <div class="mx-3">
                        <h5 class="card-title mb-0">Total Income</h5>
                        <h3 class="card-value"><strong> {{ total_income }}</strong></h3>
                        <p class="card-text">Breakdown: Salary, Investments, Other</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- total expense card -->
        <div class="col-md-6 mb-4">
            <div class="card bg-danger text-white animated-card-content">
                <div class="card-body d-flex justify-content-center align-items-center">
                    <i class="fa-solid fa-wallet fa-3x me-3"></i>
                    <div class="mx-3">
                        <h5 class="card-title mb-0">Total Expenses</h5>
                        <h3 class="card-value"><strong>{{ total_expense }}</strong></h3>
                        <p class="card-text">Breakdown: Rent, Utilities, Groceries</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- graphs row -->
    <div class="row">

        <!-- pie chart for individual incomes vs individual expenses -->
        <div class="col-md-3 d-flex align-items-center justify-content-center mt-4">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title">Income vs Expenses</h2>
                    
                    <div class="pie-chart-container">
                        <p class="text-muted m-0"><em>(hover to see data)</em></p>
                        <canvas id="incomeVsExpenseChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- doughnut chart for total incomes vs total expenses -->
        <div class="col-md-3 d-flex align-items-center justify-content-center mt-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Total Income vs Total Expenses</h2>
                    <div class="pie-chart-container">
                        <canvas id="doughnut"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- bar chart for individual expenses -->
        <div class="col-md-6 mt-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Expenses</h2>
                    <div class="bar-chart-container">
                        <canvas id="expenseChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}
