{% extends '_base.html' %}


{% block title %}
    Home
{% endblock title %}
    

{% block content %}
    <style>
        /* Custom CSS for additional styling */
        .welcome-text {
            margin-top: 100px;
            text-align: center;
        }
        .btn {
            margin-top: 10px;
        }
    </style>
    <div class="row">
        <div class="col-md-12">
            <div class="welcome-text">
                <h1>Welcome to Grow!</h1>
                {% if user.is_authenticated %}
                <a href="{% url 'budget' %}" class="btn btn-primary">Create a budget</a>
                {% else %}
                <p>Start managing your finances and planning for the future.</p>
                <p>Sign up or log in to get started.</p>
                <a href="{% url 'account_signup' %}" class="btn btn-primary">Sign Up</a>
                <a href="{% url 'account_login' %}" class="btn btn-outline-primary">Log In</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
    