{% extends '_base.html' %}


{% block title %}
    Income Expense
{% endblock title %}


{% block content %}

<div class="container">
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Income</h5>
                    <h3 class="card-value">{{ total_income }}</h3>
                    <p class="card-text">Explanation</p>
                </div>
              </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Expenses</h5>
                    <h3 class="card-value">{{ total_expense }}</h3>
                    <p class="card-text">Explanation</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4 p-4">
        <div class="col-md-6">
            <h2>Income vs Expenses</h2>
            <canvas id="incomeVsExpenseChart" width="400" height="400"></canvas>
        </div>
        <div class="col-md-6">
            <h2>Expense</h2>
            <canvas id="expenseChart"></canvas>
        </div>
    </div>    
    
</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    fetch('/dashboard/income/')
        .then(response => response.json())
        .then(data => {
            var totalIncome = data.totalIncome || 0;
            var totalExpenses = data.totalExpenses || 0;

            var ctx1 = document.getElementById('incomeVsExpenseChart').getContext('2d');
            var myChart1 = new Chart(ctx1, {
                type: 'pie',
                data: {
                    labels: ['Income', 'Expenses'],
                    datasets: [{
                        data: [totalIncome, totalExpenses],
                        backgroundColor: ['rgba(75, 192, 192, 0.5)', 'rgba(255, 99, 132, 0.5)'],
                        borderColor: ['rgba(75, 192, 192, 1)', 'rgba(255, 99, 132, 1)'],
                        borderWidth: 1
                    }]
                },
                options: {
                    // Add options here if needed
                }
            });
        });

    fetch('/dashboard/expense/')
        .then(response => response.json())
        .then(data => {
            var ctx2 = document.getElementById('expenseChart').getContext('2d');
            var myChart2 = new Chart(ctx2, {
                type: 'line',
                data: {
                    labels: data.labels,
                    datasets: [{
                        label: 'Expenses',
                        data: data.values,
                        backgroundColor: 'rgba(255, 99, 132, 0.5)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    // Add options here if needed
                }
            });
        });
});


</script>


{% endblock content %}